<head>
  <meta charset="utf-8">
  <meta name="image" property="og:image" content="{{site.url}}{% if page.image %}{{ page.image }}{% else %}{{site.author.image}}{% endif %}">
  <meta name="author" content="{{site.author.name}}">

  <!-- mobile responsive meta -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">

  <!-- Main Stylesheet -->
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
  
  <!-- begin js -->
  <script src="{{ site.baseurl }}/assets/js/vendors/jquery-3.3.1.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendors/aos.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendors/jquery.fitvids.js"></script>
  <script src="{{ site.baseurl }}/assets/js/common.js"></script>
  <!-- end js -->
  
  {% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='/assets/js/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
  {% endif %}
	
  {% if page.custom_css %}
  {% for css_file in page.custom_css %}
  <link href='/assets/css/{{ css_file }}.css' rel="stylesheet">
  {% endfor %}
  {% endif %}
	
</head>
